#esito {
    font-size: 50px;
}

.win {
    color: green;
}

.lose {
    color: red;
}

.draw {
    color: orange;
}

.hidden {
    display: none;
}

.not-hidden {
    display: block;
}

.container {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
}

.section-container {
    width: 100%;
}

.btn {
    padding: 10px;
    font: 20px;
    margin-bottom: 20px;
}